<body data-layout="horizontal" class="">
  <app-header></app-header>
  <div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Restaurant</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-md-3" *ngFor="let resto of restaurants">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ resto.image }}" alt="{{ resto.nom }}" class="d-block mx-auto my-4" height="150">
                            <div class="d-flex justify-content-between align-items-center my-4">
                              <div>
                                <h4 class="text-dark mt-0 mb-2">{{ resto.nom }}</h4>
                            </div>
                              <div>
                                <span class="text-muted fw-semibold"><i class="las la-map-marker text-secondary"></i>{{ resto.lieu }}</span>
                              </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-soft-primary">Commandez</button>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
            </div>
        </div><!-- container -->
        <!--Start Footer-->
        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- end Footer -->
        <!--end footer-->
    </div>
    <!-- end page content -->
  </div>
  <!-- end page-wrapper -->
</body>
