
<body data-layout="horizontal" class="">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="page-content-tab">

      <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title"></h4>
                  </div><!--end page-title-box-->
              </div><!--end col-->
          </div>
          <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                      <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Panier</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                      </div><!--end card-header-->
                      <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Nom plat</th>
                                        <th>Prix</th>
                                        <th>Quantité</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="items.length">
                                    <tr *ngFor="let item of items; let i = index ">
                                        <td>
                                            <img src="{{ item.plat.image }}" alt="" height="40" class="me-2">
                                            <p class="d-inline-block align-middle mb-0">
                                                <a href="" class="d-inline-block align-middle mb-0 product-name">{{ item.plat.nomPlat }}</a>
                                                <br>
                                                <span class="text-muted font-13">{{ item.plat.categorie }}</span>
                                            </p>
                                        </td>
                                        <td>{{ item.plat.prixVente | currency}}</td>
                                        <td>
                                            <input [(ngModel)]="item.quantite"
                                            [ngModelOptions]="{standalone: true}"
                                            [ngClass]="{ 'is-invalid': quantiteInput.invalid }"
                                            min="0"
                                            type="number"
                                            value="{{ item.quantite }}"
                                            name="quantite{{i}}"
                                            (change)="changeSubtotal(item ,i)" class="form-control w-25"  #quantiteInput="ngModel">
                                            <div class="invalid-feedback" *ngIf="quantiteInput.invalid">Veuillez saisir une quantité valide</div>
                                        </td>
                                        <td #subTotalWrap>{{ item.plat.prixVente | currency }}</td>
                                        <td>
                                            <a [routerLink]="" (click)="removeFromCart(item)" class="text-dark"><i class="mdi mdi-close-circle-outline font-18"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 align-self-center">
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="total-payment p-3 mt-4">
                                    <h4 class="header-title">Paiement total</h4>
                                    <form (submit)="commande(items, commandeForm)" #commandeForm="ngForm" class="my-4" action="/" >
                                      <table class="table">
                                          <tbody>
                                              <tr>
                                                  <td class="fw-semibold">Sous total</td>
                                                  <td *ngIf="items">{{ sousTotal | currency}}</td>
                                                  <input type="hidden" name="sousTotalC" value="{{ sousTotal }}" [(ngModel)]='sousTotalC'>
                                              </tr>
                                              <tr>
                                                  <td  class="fw-semibold">Livraison à</td>
                                                  <td>
                                                      <ul class="list-unstyled mb-0">
                                                          <li>
                                                            <div class="col-md-8">
                                                              <input type="text" [ngClass]="{ 'is-invalid': commandeForm.submitted && lieuInput.invalid }" #lieuInput="ngModel" ngModel name="lieu" class="form-control w-10"  placeholder="Ex: Anosizato" required lieu>
                                                              <div class="invalid-feedback" *ngIf="lieuInput.invalid">Veuillez saisir l'adresse</div>
                                                            </div>
                                                            <div class="col-md-4">
                                                            </div>
                                                          </li>
                                                          <li>
                                                              <div class="form-check">
                                                                <div class="radio radio-info mt-1">
                                                                    <input type="radio" class="form-check-input" id="exampleRadios1" name="typeLivraison" value="7000" [(ngModel)]='livraison' checked>
                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                      Ville: 7 000 Ar
                                                                    </label>
                                                                </div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                            <div class="form-check">
                                                                <div class="radio radio-info mt-1">
                                                                  <input type="radio" id="exampleRadios2"  class="form-check-input" [ngClass]="{ 'is-invalid': commandeForm.submitted && typeLivraisonInput.invalid }" #typeLivraisonInput="ngModel" name="typeLivraison" value="10000" [(ngModel)]='livraison' typeLivraison required>
                                                                  <label class="form-check-label" for="exampleRadios2">
                                                                    Périphérie: 10 000 Ar
                                                                  </label>
                                                                </div>
                                                              </div>
                                                          </li>
                                                          <!-- <div class="invalid-feedback" *ngIf="livraison.errors?.required">Veuillez saisir le prix</div> -->

                                                      </ul>
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td class="fw-semibold">Date de livraison</td>
                                                <td class="row">
                                                  <div class="col-md-6">
                                                    <input type="date" ngModel  name="dateLivraison" class="form-control w-10" required="">
                                                  </div>
                                                  <div class="col-md-6">
                                                    <input type="time" ngModel name="timeLivraison" value="" class="form-control w-10" required="">
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                  <td class="border-bottom-0">Total</td>
                                                  <td class="text-dark border-bottom-0"><strong>{{ livraison == undefined ? (sousTotal | currency) : sousTotal -- livraison | currency }}  </strong></td>
                                              </tr>
                                          </tbody>
                                          <div class="button-items">
                                            <button type="submit" class="btn btn-block btn-primary">Confirmer</button>
                                            <button type="button" (click)="clearCart(items)" class="btn btn-block btn-danger mr-5">Annuler</button>
                                          </div>
                                      </table>
                                    </form>
                                    <div *ngIf="commandeFailed" class="alert text-center alert-danger border-0 mb-0" role="alert">
                                      <strong>{{ errorMessage }} </strong>
                                    </div>
                                </div>

                              </div><!--end col-->
                        </div><!--end row-->
                      </div><!--end card-->

                  </div><!--end card-body-->
                </div><!--end col-->
            </div><!--end row-->
      </div><!-- container -->

      <!--Start Footer-->
      <!-- Footer Start -->
      <app-footer></app-footer>
      <!-- end Footer -->
      <!--end footer-->
  </div>
  <!-- end page content -->
</div>
<!-- end page-wrapper -->
