<app-loading *ngIf="loader"></app-loading>
<body *ngIf="!loader" id="body" class="auth-page" style="background-image: url('assets/images/banner-bg.jpg'); background-size: cover; background-position: center center;">
  <!-- Log In page -->
  <div class="container-md">
    <div class="row vh-100 d-flex justify-content-center">
      <div class="col-12 align-self-center">
          <div class="card-body">
              <div class="row">
                  <div class="col-lg-4 mx-auto">
                      <div class="card">
                          <div class="card-body p-0 auth-header-box">
                              <div class="text-center p-3">
                                  <a href="/" class="logo logo-admin">
                                      <img src="assets/images/logo-sm.png" height="50" alt="logo" class="auth-logo">
                                  </a>
                                  <h4 class="mt-3 mb-1 fw-semibold text-white font-18">Andao E-kaly ary!</h4>
                                  <p class="text-muted  mb-0">Connectez-vous pour continuer.</p>
                              </div>
                          </div>
                          <div class="card-body pt-0">
                              <form (submit)="onLogin(loginForm)"  #loginForm="ngForm" class="my-4" action="/" >
                                  <div class="form-group mb-2">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" ngModel [ngClass]="{ 'is-invalid': loginForm.submitted && emailInput.invalid }"  class="form-control" id="email" name="email" #emailInput="ngModel" placeholder="Entrer l'e-mail" required email>
                                    <div class="invalid-feedback" *ngIf="emailInput.invalid">Veuillez saisir une adresse e-mail valide</div>
                                  </div><!--end form-group-->

                                  <div class="form-group">
                                      <label class="form-label" for="motDePasse">Mot de passe</label>
                                      <input type="password" ngModel [ngClass]="{ 'is-invalid': loginForm.submitted && passwordInput.invalid }" class="form-control" name="motDePasse" #passwordInput="ngModel" id="motDePasse" placeholder="Entrer le mot de passe" required>
                                      <div class="invalid-feedback" *ngIf="passwordInput.invalid">Veuillez saisir un mot de passe valide</div>
                                  </div><!--end form-group-->

                                  <div class="form-group mb-0 row">
                                      <div class="col-12">
                                          <div class="d-grid mt-3">
                                              <button class="btn btn-primary" type="submit" [disabled]="isLoading">S'identifier
                                                <i class="fas fa-sign-in-alt ms-1" *ngIf="!isLoading"></i>
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span><span class="sr-only">Chargement...</span>
                                              </button>
                                          </div>
                                      </div><!--end col-->
                                  </div> <!--end form-group-->
                              </form><!--end form-->
                              <div *ngIf="isLoginFailed" class="alert text-center alert-danger border-0 mb-0" role="alert">
                                <strong>{{ errorMessage }} </strong>
                              </div>
                              <div class="m-3 text-center text-muted">
                                  <p class="mb-0">Vous n'avez pas de compte ?  <a href="inscription" class="text-primary ms-2">S'inscrire</a></p>
                              </div>
                          </div><!--end card-body-->
                      </div><!--end card-->
                  </div><!--end col-->
              </div><!--end row-->
          </div><!--end card-body-->
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</body>
