<app-loading *ngIf="loader"></app-loading>
<body *ngIf="!loader" data-layout="horizontal" class="">
  <app-header></app-header>
  <div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Accueil</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
              <div class="col-md-6 col-lg-3">
                  <div class="card overflow-hidden">
                      <div class="card-body">
                          <div class="pt-3">
                              <h3 class="text-dark text-center font-24 fw-bold line-height-lg">E-Kaly
                              <br>C'est très simple !</h3>
                              <div class="text-center text-muted font-16 fw-bold pt-3 pb-1">Livraison de plats à domicile</div>

                              <div class="text-center py-3 mb-3">
                                  <a href="/restaurant" class="btn btn-primary">Commandez</a>
                              </div>
                              <img src="assets/images/small/12692.jpg" alt="" class="img-fluid px-3 mb-2">
                          </div>
                      </div><!--end card-body-->
                  </div><!--end card-->
              </div> <!--end col-->
              <div class="col-lg-9">
                  <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                              <img src="assets/images/small/c21a6f3b7c5317bf097881dee64fb1bb.jpg" alt="" class="img-fluid">
                              <div class="post-title mt-4">
                                <h5 href="#" class="font-20 fw-bold d-block mt-3 mb-4">Le meilleur endroit pour commander !</h5>
                                  <p class="font-15 mt-4">
                                    Vous voulez manger chez votre restaurant préféré mais que vous ne voulez pas galérer dans les embouteillages ? N'attendez plus, et gagnez du temps ! Fini les files d'attente, les embouteillages pour pouvoir manger chez votre restaurant préféré, e-kaly s'occupe de tout.
                                  </p>
                                  <p class="font-15 mt-0">
                                    E-kaly est la façon la plus facile de commander vos repas en ligne à partir de votre smartphone ou votre tablette. Du bout des doigts, accédez à de délicieuses cuisines (chinoise, malagasy, européenne, ...) et à un choix de restaurants qui livrent dans votre ville/quartier. Idéal pour les déjeuners au bureau, lorsque vous n'avez pas le temps de quitter le travail et galérer dans les embouteillages.
                                  </p>
                                  <p class="font-15 mt-0">
                                    E-kaly est La référence en matière de livraison de repas à domicile. Découvrez de manière simple et intuitive toute une gamme de restaurants soigneusement sélectionnés pour vous dans votre smartphone ou tablette et commandez ce qui vous plaît!
                                  </p>
                                  <p class="font-15 mt-0">
                                    Rejoignez notre communauté e-kaly, la seule façon de :
                                  </p>
                                  <ul class="mb-1">
                                    <li>choisir les repas des meilleurs restaurants près de chez vous</li>
                                    <li>commander où que vous soyez</li>
                                    <li>suivre votre commande en temps réel</li>
                                  </ul>
                                  <p class="font-15 mt-3">
                                    Des questions, des suggestions à propos de notre service ? Envoyez-nous un e-mail via ekaly@ekaly.mg et nous vous recontacterons dans les plus brefs délais.
                                  </p>
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div><!--end col-->
          </div><!--end row-->
        </div><!-- container -->
        <app-footer></app-footer>
    </div>
    <!-- end page content -->
</div>

  <!-- Javascript -->
</body>
