
<body data-layout="horizontal" class="">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="page-content-tab">

      <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title"></h4>
                  </div><!--end page-title-box-->
              </div><!--end col-->
          </div>
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-end">
                    </div>
                    <h4 class="page-title">Livreur</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
      </div><!-- container -->

      <!--Start Footer-->
      <!-- Footer Start -->
      <app-footer></app-footer>
      <!-- end Footer -->
      <!--end footer-->
  </div>
  <!-- end page content -->
</div>
<!-- end page-wrapper -->
